<!--<ion-content class="login">
  <ion-grid>
     <ion-row class="sel-type">
      <ion-col>
        <div class="form-group">
          <ion-label>Select Login Type</ion-label>
          <ion-select [(ngModel)]="logintype" (ionChange)="onLogInSelectChange($event)">
            <ion-option value="1">Teacher</ion-option>
            <ion-option value="2">Student</ion-option>
          </ion-select>
        </div>
      </ion-col>
    </ion-row>
    <form #loginForm="ngForm" novalidate>
      <ion-row>
        <ion-col class="bg-img">

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="form-group">
            <ion-label>Select Login Type</ion-label>
            <select class="form-control" name="logintype" [(ngModel)]="logintype" (change)="onLogInSelectChange($event)">
              <option value="1">Teacher</option>
              <option value="2">Student</option>
            </select>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!IsStudentLogin">
        <ion-col>
          <div class="form-group">
            <label>User Name </label>
            <input type="email" #username="ngModel" class="form-control" name="username" [(ngModel)]="login.username" required>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!IsStudentLogin">
        <ion-col>
          <div class="form-group">
            <label>Password</label>
            <input type="password" #password="ngModel" class="form-control" name="password" [(ngModel)]="login.password" required>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!IsStudentLogin">
        <ion-col>
          <button type="button" ion-button block class="rmsLoginButton" (click)='authenticate()'>Login</button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="IsStudentLogin">
        <ion-col>
          <div class="form-group">
            <label>Admission Number</label>
            <input type="text" #username="ngModel" class="form-control" name="username" [(ngModel)]="login.username" required>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="IsStudentLogin">
        <ion-col>
          <div class="form-group">
            <label>Password</label>
            <input type="password" #password="ngModel" class="form-control" name="password" [(ngModel)]="login.password" required>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="IsStudentLogin">
        <ion-col>
          <button type="button" ion-button block class="rmsLoginButton" [disabled]=loginForm.invalid (click)='authenticate()'>Login</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p id="LoginPageFooter">Powered by
            <strong>
              <i> schoolconn.org</i>
            </strong>
          </p>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>-->
<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col>
      <img src="../assets/imgs/sclogo.png" style="border: #5b753c 4px solid;" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="authenticate()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <span style="color:red;"> {{ErrorMessage}}</span>
          <ion-list inset>
            <ion-item>
              <ion-input type="text" placeholder="Email" name="username" [(ngModel)]="login.username" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="login.password" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
          <button ion-button class="register-btn" block clear (click)="createAccount()">Create New Account</button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
<!-- <ion-content class="bg-img">

  <div class="main-content">
    <div padding text-center class="container-logo">
      <img src="assets/imgs/logo.png">
    </div>
    <div text-center class="socialLogin" padding>
      <button ion-button full class="google" (click)="socialLogin('google')">
        <ion-icon name="logo-google" style="margin-right: 12px;"></ion-icon>Sign in with Google</button>
      <button ion-button full class="facebook" (click)="socialLogin('facebook')">
        <ion-icon name="logo-facebook" style="margin-right: 12px;"></ion-icon> Sign in with Facebook</button>
    </div>
    <div class="sepretor-or" padding-horizontal>
      <p>Or</p>
    </div>

    <div padding class="container-bottom">
      <form [formGroup]="authForm" (ngSubmit)="userLogin(loginData)">

        <div class="errormsg">
          <div *ngIf="email.errors && email.touched">
            <p>Email is required.</p>
          </div>
          <div *ngIf="password.errors && password.touched">
            <p>Password is required.</p>
          </div>
        </div>

        <ion-list>
          <ion-item padding-right>
            <ion-label>
              <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
            </ion-label>
            <ion-input [(ngModel)]="loginData.email" [formControl]="email" id="email" type="text" required placeholder="Email *"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon>
            </ion-label>
            <ion-input [(ngModel)]="loginData.password" [formControl]="password" id="password" type="{{passwordtype}}" required placeholder="Password *"></ion-input>
            <button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()">
              <ion-icon name="{{passeye}}"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
        <button type="submit" ion-button full color="dark" [disabled]="!authForm.valid">Sign In</button>
      </form>
      <div padding text-center class="form-bottom-text">
        <a href="javascript:void(0);" (click)="forgetpassword()"> Forgot password?</a>
      </div>
      <div padding text-center class="form-bottom-text">
        <label>Don't have an Account?
          <a href="javascript:void(0);" (click)="moveToRegister()">Sign up</a>
        </label>
      </div>
    </div>
  </div>
</ion-content> -->