page-home {
    
    }
    .col-center {
        text-align: center !important;
    }
    .menubtn{
        color: white;
        border-radius: 50px;
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    .toolbar-md-app .bar-button-clear-md, .toolbar-md-app .bar-button-default-md, .toolbar-md-app .bar-button-outline-md, .toolbar-md-app .toolbar-title-md{
        color: white !important;
    }
    ion-card-header{
        font-size: 18px !important;
    }
    ion-card-content{
        font-size: 12px !important;
    }
    ion-title{
        text-align: center;
    }